.floating-btn1 {
  position: fixed !important;
  bottom: 100px;
  left: 15px;
  filter: brightness(80%);
}

.floating-btn2 {
  position: fixed !important;
  bottom: 25px;
  left: 15px;
  filter: brightness(80%);
}

.floating-btn3 {
  position: fixed !important;
  bottom: 100px;
  right: 15px;
  filter: brightness(80%);
}

.floating-btn4 {
  position: fixed !important;
  bottom: 25px;
  right: 15px;
  filter: brightness(80%);
}

.currentScore {
  display: flex;
  justify-content: center;
  color: white;
}


@media only screen and (max-height: 900px) {
    .floating-btn2 {
        position: fixed !important;
        bottom: 8px;
        left: 25%;
        /* transform: translateX(-25%); */
        filter: brightness(80%);
      }

      .floating-btn4 {
        position: fixed !important;
        bottom: 8px;
        right: 25%;
        filter: brightness(80%);

      }

      .floating-btn1,.floating-btn3 {
        bottom: 8px;
      }
  }
